.leftnav img{
    height: 34px;
    width: 120px;
    margin: 15px 15px 10px 10px;
  
  }
  .sidenav{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #f6f6f6;
  }
  .navbar{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 63px;
    border-bottom: 0.5px solid rgb(224, 224, 224);
    
  }
  .leftnav{
    width: 26%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
  }
  #mus-pod{
    display: flex;
    margin: 0;
  }
  .rightnav{
    width: 27%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }
  /* .midnav input{
    outline: none;
    border: none;
    width: 100%;
    height: 40px;
    padding-inline:1rem ;
  } */
  .midnav{
   
    height: 40px;
    width: 540px;
    border-radius: 99px;
    overflow: hidden;
    margin-top: 11px;
    margin-right: 5px;
    background-color: white;
   border: 0.5px solid rgb(221, 220, 220);
   cursor:text;
    
  text-align: center;
  }
  .midnav p{
    padding-top: 10px;
  }
  .rightnav div{
    
    margin: 0px 15px 0px 10px;
    font-weight: 500;
  }
  .leftnav div{
    margin:20px 8px 10px 8px;
    font-weight: 500;
    letter-spacing: normal;
    
    font-size: 1rem;
  }
  .searchbar::placeholder{
    text-align: center;
    color: black;
  }
  .login-btn,.signup-btn,.gopro{
    cursor: pointer;
    color: #3e3e3e;
  }
.searchbox-input {
  width: 100%;
  
}
#searchbox-srch-btn{

  padding-top: 5px;
}
.searchbox-input input{
    width: 95%;
    margin-left: 5px;
    margin-right: 5px;
  border: none;
 outline: none;
 
}
.searchbox-btns span{
  margin-left: 10px;
  padding-top: 10px;
}
.music{
  cursor: pointer;
}
.searchbox-btns{
  width: 95%;
    display: flex;
    padding: 10px 20px;
    border-bottom:0.5px solid #f0eeee ;
}
.searchbox-container{
    width: 77%;
    position:fixed;
    z-index: 1000;
    left: 11%;
    top: 10px;
    background-color: white;
    border-radius: 22px;
}
.searchbox-container{
box-shadow: 0 20px 30px 10px rgba(0,0,0,.1);
padding: 5.5px 22px 11px;
transition: right .3s ease-in-out,left .3s ease-in-out,padding .3s ease-in-out,box-shadow .3s ease-in-out;
}

.hideSearchBar{
  display: none;
}
.login-signup{
  display: flex;
}
.myprofile-section-top{
  display: flex;
  
}
.myprofile-logo-top{
  cursor: pointer;
  margin: 0!important
}
.myprofile-section-top img{
  height: 30px;
  width: 30px;
  margin-right: 5px;
  border-radius: 50%;
}
.languages-sec,.music,.pod{
  color: #3e3e3e;
}
.myprofile-name-top{
  margin: 0!important;
  padding-top: 5px!important;
}
.searchbox-closebtn span{
  color: #2bc5b4;
  font-size: 1.4em;

}
.searchbox-closebtn{
  display: flex;
  align-items: center;
  
}
.treandingresultcard-container h5{
  color: #828da8;
    font-size: .7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-top: 20px;
}

.treandingcards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
 overflow: hidden;
 margin-top: 30px;
}
.profile-dropedown{
  position: fixed;
  width: 198px;
  background: #fff;
  right: 10px;
  z-index: 1010;
  top: 55px;
   border-radius: 8px; 
  bottom: auto;
  box-shadow: 0 0 12px 4px rgba(0,0,0,.05);
  left: auto;
  overflow: hidden;
  
  
  /* transform: translateY(-11px);
  transition: none; */
 
}
.profile-dropedown-section{

    padding-bottom: 5.5px!important;
    padding-top: 5.5px!important;
}
.profile-dropedown-section p{
    font-size: .8rem;
    line-height: 1;
    padding: 11px 22px;
 
    font-weight: 600;
}
.profile-dropedown-section p:hover{
  background: #96f0e5;
  cursor: pointer;
}
.noprofile{
  display: none;
}
.musicbox-container{
  width: 50%;
  position:fixed;
  z-index: 1000;
  left: 5%;
  top: 10%;
  background-color: white;
  border-radius: 22px;
  box-shadow: 0 0 12px 4px rgba(0,0,0,.05);
}

.musicbox-top{
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  border-bottom: 1px solid #e9e7e7;
}
.musicbox-top h2{
  font-size: 1.3rem;
}
.m-close-bar{
  font-size: 1.5em;
}
.musicbox-results p{
  font-size: 0.8rem;
  text-align: left;
  margin-left: 10%;
  padding: 15px 5px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  color: #3e3e3e;
  
}
.profile-dropedown-section p{
  color: #3e3e3e;
}
  @media screen and (max-width: 600px) {
    .midnav, .login-btn, .signup-btn, .gopro,.myprofile-section-top{
      display: none;
    }
    .leftnav{
    
      display: block;
    }
    .sidenav{    
      /* width: 100vw; */
      /* width: 100%;
      position: relative; */
      display: none;
      
    }
    .navbar{
      /* width: 100vw; */
      width: 100%;
      border: none;
      height: 12vh;
      
    }
    .leftnav div{    
      font-size: 1.1rem;
      margin:15px 8px 10px 15px;
    }
    .searchbox-container{
      width: 90%;
      height: 75%;
      position:fixed;
      z-index: 1000;
      left: 1%;
      top: 5px;
      background-color: white;
      border-radius: 22px;
      overflow-y: scroll;
  }
  .musicbox-container{
    display: none;
  }
  .music{
    border-bottom: 2px solid #2bc5b4;
  }
  .treandingcards{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
   overflow: hidden;
  
  }
  }
  @media screen and (max-width: 979px) {
    .midnav, .login-btn, .signup-btn, .gopro,.myprofile-section-top{
      display: none;
    }
    .leftnav{
    
      display: block;
    }
    .sidenav{    
      /* width: 100vw; */
      /* width: 100%;
      position: relative; */
      display: none;
      
    }
    .navbar{
      /* width: 100vw; */
      width: 100%;
      border: none;
      height: 12vh;
      
    }
    .leftnav div{    
      font-size: 1.1rem;
      margin:15px 8px 10px 15px;
    }
   
  .musicbox-container{
    display: none;
  }
  .music{
    border-bottom: 2px solid #2bc5b4;
  }
  .searchbox-container{
    width: 90%;
    height: 75%;
    position:fixed;
    z-index: 1000;
    left: 1%;
    top: 5px;
    background-color: white;
    border-radius: 22px;
    overflow-y: scroll;
}


  }
  @media screen and (max-width:1099px){
    .midnav{
      height: 40px;
      width: 350px;
      border-radius: 99px;
      overflow: hidden;
      margin-top: 11px;
      margin-right: 5px;
      background-color: white;
     border: 0.5px solid rgb(221, 220, 220);
     cursor:text;
      
    text-align: center;
    }
    .leftnav{
      width: 32%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      
    }
    .rightnav{
      width: 32%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
    }
  }