
/* .newRelease-page{
    width: 80%;
    margin-left: 18%;
    padding-top: 40px;
} */
.newrelease-caro{
    width: 95%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}
.newRelease-page h1{
    font-size: 1.6rem;
    margin-top: 15px;
}
@media  screen and (max-width: 600px) {
    .newRelease-page{
        width: 100%;
        margin-left: 0;
        
    }
    .newRelease-page h1{
        margin-left: 15px;
        font-size: 1.3rem;
    }
    .newrelease-caro{
        display: grid;
        grid-template-columns: 1fr 1fr ;
     }
}
