.subs-section-top{
    width: 100%;
    
    background-color: #2a2d36;
    padding-bottom: 150px;
}
.subs-logo{
    height: 85px;
    width: 210px;   
}
.subs-navbar{
    display: flex;
    color: #ccc;
    justify-content: space-between;
    width: 85%;
    height: 75px;
    margin: 0 75px;
    padding: 0px 30px 0px 0px;
    text-align: center;
    align-items: center;
    background-color: #2a2d36;
    position: sticky;
    border-bottom: 1px solid #3e3e3e;
}
.subs-navbar-btns{
    display: flex;
    
}

.subs-navbar-btns div{
    padding: 20px 15px;
}
.subs-navbar-btns p{
    padding: 5px 15px 7px 15px;
    font-weight: 500;
    color: white;
}
.boarder-styl{
    border-radius: 99px;
    border: 1px solid #ccc;
}
.subs-top-maincontainer{
    color: #fff;
    margin-top: 100px;
    padding: 0px 200px;
    
}
.subs-top-title{
    margin-bottom: 20px;
    font-size: 2em;
    font-style:italic ;
    
}
.subs-top-title-2{
    margin-bottom: 30px;
    line-height: 1.3;
    font-size: 2.9em;
    font-weight: 600;
}
.subs-top-title-2 a{
    color: white;
    text-decoration: underline;
}
.subs-top-card-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
   
}
.subs-top-last-container a{
    color:#2bc5b4;
    cursor: pointer;
}
.subs-card{
    width: 460px;
    height: 480px;
   
    background-color: #2bc5b4;
    border-radius: 10px;
    
}

.subs-top-container{
    padding: 30px;
    text-align: center;
    
}
.subs-container-head{
    font-size: 1.2em;
    font-weight: 700;
    color: #fff;
    padding: 15px 0px 10px 30px;
}
.subs-top-container h2{
    margin: 30px 0 10px;
    font-size: 3em;
    line-height: 1.2;
    font-weight: 700;
}
.subs-top-container p{
    font-size: 1.125em;
}
.subs-top-container p+p{
    margin-bottom: 30px;
}
.subs-top-container p{
    line-height: 1.5;
}
.payment-type{
    font-size: 1.125em;
    text-align: left;
    font-weight: 700;
    
}
input[type="radio"]{
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 0px 5px;
    padding: initial;
    border: initial;
}
.payment-type div{
    background-color: #53d5c6;
    border:1.5px solid #3fcdbe;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}
.subs-amazon{
    padding: 13px 10px;
    border-top-right-radius:10px ;
    border-top-left-radius:10px ;
}
.subs-paytm{
    padding: 13px 10px;
    border-bottom-right-radius:10px ;
    border-bottom-left-radius:10px ;
}
.sub-payment-btn{
    width: 100%;
    font-size: 1.3em;
    font-weight: 700;
    line-height: 2;
    border-radius: 500px;
    cursor: pointer;
    display: inline-block;
  padding: 9px 0px ;
  margin-top: 30px;
    text-align: center;
    user-select: none;
    vertical-align: middle;
    background-color: #fff;
    color: #2bc5b4;
}
.choosed{
    background: #303540;
}
#notpick{
    background-color: #3f4552;
    border: 1px solid #383d49;
}
#notclick{
    background-color:  #2bc5b4;
    color: #fff;
}
.amazon-logo{
    width: 116px;
    height: 22px;
}
.paytm-logo{
    width: 64px;
    height: 32px;

}
.subs-top-last-container{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
}
.subs-top-last-container p{
    font-size: 1.5em;
}
.subs-top-last-container img{
    margin-left: 10px;
}
.subs-mid-container{
    background-color: #f6f6f6;
    text-align: center;
    position: relative;
    padding-top: 285px;
    padding-bottom: 80px;
}
.subs-mid-logo-top img{
    width: 38px;
    height: 38px;
    margin: 0 15px;
}
.subs-mid h3{
    margin: 40px 0;
    font-size: 1.875em;
    font-weight: 700;
}
#apple-logo{
    height: 45px;
}
.subs-mid-logo-bottom img{
    margin: 0 20px;
}
.subs-mid-container2{
    padding-bottom: 120px;
   
    padding-top: 80px;

}
.subs-mid2{
    padding: 0 30px;
    max-width: 1200px;
    position: relative;
    margin: 0 74px;
    
    z-index: 10;
}
.subs-mid2 h3{
    font-size: 1.875em;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 0.75em;
    display: block;
    text-align: center;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; 
    font-weight: bold;
}
.table-list {
    position: relative;
    z-index: 1;
    margin: 50px auto;
    width: 90%;
    max-width: 780px;
    border-collapse: separate;
    font-weight: 700;
}
.table-list td {
    padding: 1em 0;
    text-align: center;
}

table{
    display: table;

}
colgroup {
    display: table-column-group;
}
col{
    display: table-column;
}
thead{
    display: table-header-group;
}
tr{
    display: table-row;
}
th{
    display: table-cell;
}
.table-list th:first-child, .table-list td:first-child {
    text-align: left;
}
.table-list th:last-child,.table-list td:last-child{
background-color:  #2bc5b4;


}
#get{
    color: #fff;
}
#freeget{
    color: #2bc5b4;
}

.table-list th {
    padding: 1.125em 0;
}
.t-head{
    font-size: 1.125em;
}
.table-list th, .table-list td {
    border-bottom: 1px solid rgba(62,62,62,0.1);
}
tbody{
    font-weight: 500;
}
.subs-mid-container2-btom h3{
    font-size: 1.875em;
    font-weight: 700;
    margin: 0;
}
.subs-mid-container2-btom h4{
    color: #a9a9a9;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 0.875em;
    text-align: center;

}
.subs-mid-btom-btn{
    background-color: #2bc5b4;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 500px;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 2;
    padding: 0.375em 2.5em 0.5em 2.5em;
    text-align: center;
    text-decoration: none;
   margin-left: 41%;
}


.subs-footer-container{
    margin-bottom: 56px;
   
    display: flex;
    padding-top: 43px;
    padding-left: 150px;
    /* flex-wrap: wrap; */
    background: #2a2d36;
}
.subs-section-footer{
    background: #2a2d36;
   
    /* z-index: 400; */
    position: relative;
    
}
.subs-footer-sec{
    color: #8b9dbf;
    min-height: 17vh;
    padding-bottom: 50px;
    padding-left: 30px;
    
    padding-right: 30px;
    margin: 0 auto;
    max-width: 1200px;
    z-index: 10;
    background: #2a2d36;
}
.subs-footer-container h6{
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 16px;
    color: rgba(255,255,255,.84);
}
.subs-footer-container p{
    color: rgba(139, 157, 191, .69);
    font-size: .84em;
    line-height: 2em;
    margin-bottom: 0.5em;
}
.subs-footer-card{
    width: 200px;
    padding-left: 15px;
    padding-right: 15px;
}
.subs-footer-sec img{
    margin-top: 40px;
    margin-right: 10px;
    width: 80px;
    float: left;
}
.subs-copyrights p{
    float: right;
    font-size: .75em;
    line-height: 2.6em;
}
.subs-copyrights-socialmedia{
    font-size: 1.7em;
    opacity: .69;
   float: left;
   
}
.subs-copyrights-socialmedia a{
    color: rgba(139, 157, 191, .69);
}
.subs-copyrights-socialmedia svg{
    margin: 0 10px ;
}
.subs-copyrights{
    padding-bottom:10px ;
    padding-top: 20px;
    border-top: 1px solid rgba(140, 140, 141, 0.69);;
}
.subs-footer-sec .fill{
    background: #2a2d36;
}
.angle {
    transform: skewY(3.5deg);
    transform-origin: 100%;
    
}
.fill {
    background: #2a2d36;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    
}
.subs-floting-container{
    /* width: 1000; */
    display: flex;
    padding: 50px 5%;
    position: absolute;
    top: 164%;
    
    background-color: white;
    margin-left:100px ;
    border-radius: 10px;
}
.subs-floting-card{
    width: 220px;
    padding-left:15px ;
    padding-right: 15px;
    margin: 20px 0;
    text-align: center;
    
}
.subs-floting-card h5{
    font-size: 1.25em;
    margin-bottom: 16px;
}
.subs-floting-card p{
    font-size: 0.875em;
    line-height: 1.5;
    padding-bottom: 1.5em;
}
.subs-floting-card span{
    font-size: 4em;
    color: #2bc5b4;
}
@media screen and (max-width: 600px){
    .subs-logo{
        height: 70px;
        width: 170px;   
    }
    .subs-navbar-btns{
        display: none;
    }
    .subs-navbar{
        width: 100%;
        height: 70px;
        margin: 0;
        padding: 0px 30px 0px 0px;
 
    }
    .subs-top-maincontainer{
        color: #fff;
        margin-top: 10px;
        padding: 0px 15px;
        
    }
    .subs-top-card-container{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content:center;
       
    }
    .subs-top-title{
        margin-bottom: 10px;
        font-size: 1.125em;
        font-style:italic ;
        
    }
    .subs-top-title-2{
        margin-bottom: 20px;
        line-height: 1.3;
        font-size: 1.2em;
        font-weight: 600;
    }
    .subs-card{
        width: 100%;
        height: 50%;
       
        background-color: #2bc5b4;
        border-radius: 10px;
        margin-bottom: 20px;
        
    }
    .subs-top-container{
        padding: 20px;
        
    }
    .subs-container-head{
        font-size: 1.2em;
        font-weight: 700;
        color: #fff;
        padding: 10px 0px 10px 30px;
    }
    .subs-top-container h2{
        margin: 0px 0 10px;
        font-size: 2em;
        line-height: 1.1;
        font-weight: 600;
    }
    .subs-top-container p+p{
        margin-bottom: 15px;
    }
    .sub-payment-btn{
      
      padding: 6px 0px ;
      margin-top: 15px;
     
    }
    .subs-top-last-container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 30px;
    }
    .subs-top-last-container p{
        font-size: 1.2em;
    }
    .subs-mid h3{
        margin: 30px 0;
        font-size: 1.25em;
        font-weight: 700;
        color: #3e3e3e;
    }
    .subs-floting-container{
        /* width: 1000; */
        display: flex;
        flex-direction: column;
        padding: 10px 5%;
        position: absolute;
        margin-left:12% ;
        border-radius: 10px;
    }
    .subs-floting-card{
        width: 220px;
        padding-left:15px ;
        padding-right: 15px;
        margin: 10px 0;
        text-align: center;
        
    }
    .subs-mid-container{
        background-color: #f6f6f6;
        text-align: center;
        position: relative;
        padding-top: 200%;
        padding-bottom: 30px;
    }
    .subs-mid-logo-bottom img{
       width: 33%;
       margin: 10px;
    }
    .subs-mid-container2{
        padding-bottom: 120px;
        padding-top: 40px;
    
    }
    .subs-mid2{
        padding: 0 20px;
        max-width: 1200px;
        position: relative;
        margin: 0 ;
        
        z-index: 10;
    }
    .subs-mid-container2-btom h3{
        font-size: 1.25em;
    }
    .subs-mid-btom-btn{
      
       margin-left: 20%;
    }
    .subs-footer-container{
        margin-bottom: 56px;
       
        display: flex;
        padding-top: 43px;
        padding-left: 10px;
        flex-wrap: wrap;
        background: #2a2d36;
    }
    .subs-section{
        width: 100%;
       
    }
    .subs-navbar{
        width: 100%;
        margin: 0;
        padding: 0px;
       
    }
    .subs-footer-sec img{

        display: none;
    }
    .subs-footer-card{
        width: 90%;
        padding-left: 15px;
        padding-right: 15px;
        
    }
    .footer-item-link{
        display: flex;
        justify-content: space-between;
    }
    .subs-copyrights p {
        float: left;
        font-size: .75em;
        line-height: 2.6em;
        
    }

    
}