

.roundcard{
    margin-top: 25px;
    text-align: center;
    padding-left: 10px;
    
}
.roundcard img{
    width: 117px;
    height: 117px;
    border-radius: 50%;

}
.roundcard p{
    font-size: 13px;
    white-space: nowrap; 
    width: 120px;
    margin-left: 10px;
    overflow: hidden;
   text-overflow: ellipsis;
    
}
.roundcard h4{
    width: 120px;
    font-weight: 500;
    margin-left: 12px;
    font-size: 14px;
    white-space: nowrap; 
    overflow: hidden;
   text-overflow: ellipsis;
}
.artist-caro{
    width: 80%;
    margin-left: 18%;
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}