
.react-multi-carousel-list{
    width: 92%;
    margin-left: 15px;
} 


.react-multiple-carousel__arrow {
    z-index: 500;
}
.card{
    
    margin-top: 25px;
    text-align: center;
    padding-left: 10px;
   
}

.card img{
    width: 117px;
    height: 117px;
    border-radius: 5px;
    
}
.card p{
    font-size: 13px;
    white-space: nowrap; 
    width: 120px;
    margin-left: 10px;
    overflow: hidden;
   text-overflow: ellipsis;
    
}
.card h4{
    width: 120px;
    font-weight: 500;
    margin-left: 12px;
    font-size: 14px;
    white-space: nowrap; 
    overflow: hidden;
   text-overflow: ellipsis;
}
.trending-list{
    padding-bottom: 40px;
}

@media screen and (max-width: 750px) {
    .card img{
        width: 147px;
        height: 147px;
        border-radius: 5px;
    }


    .react-multiple-carousel__arrow {
        display: none;
    }
    .react-multi-carousel-track {
        width: 100vw;
    
    }
    .react-multi-carousel-list{
        width: 100vw;
       
    }
    .card{
        text-align: center;     
       width: 147px;
    }
    .card img{
        width: 147px;
        height: 147px;
        border-radius: 5px;
    }

}