.myprofile-section{
    display: flex;
}
.myprofile-logo{
    margin-right: 22px;
}
.myprofile-logo img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
   
}
.myprofile-section h2{
    font-size: 34px;
    font-size: 2.2rem;
    line-height: 1.3;
}
.pro-status{
    margin-bottom: 5.5px!important;
    color: #707070;
    /* color: #828da8; */
    font-size: 12px;
    font-size: .8rem;
    letter-spacing: 1px;
    line-height: 1.8;
    text-transform: uppercase;
}
.pro-btn{
    background: #2bc5b4;
    border-radius: 4px;
    color: #fff;
    
    font-size: 12px;
   
    font-weight: 700;
    letter-spacing: .15em;
    line-height: 1.75;
    padding: 1.8px 8.2px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    border: none;
    cursor: pointer;
}
.details-section-buttom{
    margin-top: 56px;
}
.myfav-bar{
    width: 90%;
    /* margin-left: 30px; */
    border-top: 1px solid #e6e5e5;
}
@media screen and (max-width: 600px){
    .myprofile-section{
      
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .searchresult-section-expand {
        width: 100%;
        margin-left: 0;
        padding-top: 20px;
    }
    .myprofile-logo{
        margin-right: 0;
    }
    .myprofile-logo img{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        
       
    }
    .myprofile-section h2{
        padding-top: 20px;
        font-size: 24px;
        font-size: 1.6rem;
        line-height: 1.3;

    }
    .searchresult-sectiontop{
        padding-left: 0;
    }

    .d-songcard{
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
        margin-bottom: 20px;
        position: relative;
        font-size: small;
    }
}