.searchbox-results-container{
    display: flex;
}
.searchresultcard{
    display: flex;
    padding: 10px 10px;
}
.searchbox-results-container h5{
    color: #828da8;
    font-size: .7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 20px 10px 10px 20px;
    
}
.searchresultcard-container{
    height: 350px;
    overflow: hidden;
    margin-bottom: 50px;
}
.searchresult-btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.searchresult-btn button{
border-radius: 999px;
background-color: white;
border: 2px solid #ccc;
padding: 3px 17px;
font-size: 0.8rem;
}
.searchresultcard{
    position: relative;
}
.searchresultcard:hover{
    .searchresult-hovercontent{
        display: grid;
        place-items: center;
       position: absolute;
        top: 10px;
        bottom: 0px;
        /* right: 6px;  */
        left: 10px;   
        transition: opacity .3s ease-in-out;   
        z-index: 1;
    }
}
.searchresult-hovercontent{
    display: none;
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,.7);
    border-radius: 5px;
    transition: opacity .3s ease-in-out;   
    z-index: 1;
}
@media screen and (max-width:600px){
    .searchbox-results-container{
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
    }
    .searchresultcard-container{
        height: auto;
        overflow: hidden;
        margin-bottom: 50px;
    }
}
@media screen and (max-width:979px){
    .searchbox-results-container{
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
       
    }
    .searchresultcard-container{
        height: auto;
        overflow: hidden;
        margin-bottom: 50px;
    }
}