
.card{
    position: relative;
}
.card-background{
    display: none;
    position: absolute;
    width: 117px;
    height: 117px;
    background: rgba(0,0,0,.7);
    border-radius: 5px;
    transition: opacity .3s ease-in-out;   
    z-index: 1;
}
.card:hover{
    .card-background{
        display: grid;
        place-items: center;
       position: absolute;
        top: 0;
        left: 0;
         
        transition: opacity .3s ease-in-out;   
        z-index: 1;
    }
}
.card-ply-icon{
    font-size: 2em;
    padding-top: 5px;
    padding-left: 2px;
    color: white;
}
.card-ply-btn{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    background-color: rgba(0,0,0,.7);;
    
}
@media screen and (max-width:979px){
 
    .card:hover{
        .hovercard{
            display: none;
        }
    }
}