.searchresult-section-expand{
width: 80%;
margin-left: 18%;
padding-top: 40px;
}
.searchresult-sectionbar{
    display: flex;

}
.searchresult-sectionbar p{
    padding: 22px 0px;
    margin: 10px 30px 10px 0px;
    cursor: pointer;
    line-height: 2.75;
    
}
.barselected{
    border-bottom: 1px solid #3e3e3e!important;
}
.searchresult-alllist{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}
.searchresult-sectiontop{
    padding-left: 30px;
    /* padding-bottom: 50px; */
}
.searchresult-sectiontop h1{
    font-size: 50px!important;
    font-size: 3.3333333333rem!important;
    line-height: 1.21!important;
    font-weight: 400;
}
.searchresult-songlist{
    padding-top: 30px;
}