.searchresult-section-expand{
width: 80%;
margin-left: 18%;
padding-top: 40px;
}
.searchresult-sectionbar{
    display: flex;

}
.searchresult-sectionbar p{
    padding: 22px 0px 10px 0px;
    margin: 10px 30px 0px 0px;
    cursor: pointer;
    line-height: 2.75;  
}
.barselected{
    border-bottom: 1px solid #3e3e3e!important;
}
.searchresult-alllist{
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}
.searchresult-sectiontop{
    padding-left: 30px;
    /* padding-bottom: 50px; */
}
.searchresult-sectiontop h1{
    font-size: 50px!important;
    font-size: 3.3333333333rem!important;
    line-height: 1.21!important;
    font-weight: 400;
}
.searchresult-songlist{
    width: 95%;
    padding-top: 30px;
}
.searchresult-detailsection{
    padding-left: 30px;
}
.d-songcard:hover{
    background-color: white;
  
    border-radius: 10px;
    transform: scale(1.02);
}
.d-s-name{
    cursor: pointer;
}
@media screen and (max-width:600px){
    .searchresult-sectiontop h1{
        font-size: 24px!important;
        font-size: 1.5rem!important;
        line-height: 1.21!important;
        font-weight: 600;
      margin-left: 3%;
    }
    .searchresult-section-expand{
        width: 100%;   
        margin-left: 0;
        padding-top: 40px;
      
    }
    .searchresult-sectionbar{
        width: 100%;
        margin-left: 2%;

    }
    .searchresult-sectionbar p{
        padding: 12px 0px;
        margin: 0px 20px 0px 0px;
        cursor: pointer;
        line-height: 2.75;  
    }
    .searchresult-alllist{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}