.loginhover-container{
    background: rgba(0,0,0,.5);
    height: 100%;
    width: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    opacity: 1;
    top: 0; 
    z-index: 1050;
   
}
.loginhover-center-container{
    width: 420px;
    max-height: 75vh;
   background-color: #fff;
    border-radius: 8px;
    bottom: auto;
   
   margin-left: 35%;
   margin-top: 5%;
   
}
.account-toggle{
    display: flex;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
    justify-content: center;
    border-bottom: 1px solid #e7e8e9;
}

.loginhover-content{
    border: solid #e9e9e9;
    border-width: 0 0 1px;
    max-height: 75vh;
    overflow-x: hidden;
    overflow-y: scroll;
   
}

.hoverlogin-form{
   /* position: absolute; */
   
    width: 420px;
   
    text-align: center;
    
}
.loginpara{
    margin-bottom: 30px;
}
.errorBox{
    width: 67%;
    background-color: red;
    color: white!important;
    margin-bottom:10px ;
    border-radius: 99px;
    margin-left: 60px;
    padding: 10px 22px;
    font-size: small;
}
.hoverlogin-form .loginput{
    padding: 16px 22px;
    width: 67%;
    margin-bottom: 15px;
    border-radius: 99px;
    border: 1px solid rgb(216, 210, 210);
    text-align: center;
    font-size:medium;
}
.hoverlogin-form .loginput::placeholder{
    text-align: center;
    font-family: sans-serif;
    color: black;
    font-size: 16px;
}
.submit-btn{
    width: 75%;
    padding: 16px 22px;
    border-radius: 99px;
    font-size: 16px;
    background-color: #2bc5b4;
    border: 1px solid #2bc5b4;
    font-weight: 700;
    color: white;
}
.capta-container{
   margin-left: 19%;
    width:62%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    border: 0.5px solid #b7b8bb;  
    border-radius: 3px;
    margin-bottom: 15px;
   
}
.changepassword{
    margin: 10px;
    color: #3d5798;
}
.input-l{
   margin-top: 22px;
   margin-right: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
}

.input-r img{
    height: 32px;
    width: 32px;
}
.input-r{
    margin-top: 5px;
}

.checkbox{
  top: 50px;
  margin-right: 10px;
    width: 24px;
    height: 24px;
}
.recaptcha{
    cursor: default;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}
.recaptcha span{
    font-size: 8px;
}
.hoverlogin-form h1{
    padding-top: 30px;
}
.em{
   
    width: 70%;
    font-size: 13px;
    margin-left: 15%;
    text-align: start;
    font-style: italic;
    letter-spacing: -0.5px;
    padding-bottom: 10px;
}
.toggle-btn{
    cursor: pointer;
    color: #06b9a5;
    font-weight: 500;
}