
/* .react-multi-carousel-list{
    width: 92%;
    margin-left: 15px;
}  */


.react-multiple-carousel__arrow {
    z-index: 1;
}
/* .corrosal-card{
    width: 92%; 
    margin-left: 15px;
    
   
} */
.card{
    width: 117px;
    margin-top: 25px;
    text-align: center;
    /* padding-left: 10px; */
   
}

.card img{
    /* width: 117px; */
    height: 117px;
    border-radius: 5px;
    
}
.card p{
    font-size: 13px;
    white-space: nowrap; 
    width: 117px;
   
    overflow: hidden;
   text-overflow: ellipsis;
   
    
}
.card h4{
    width: 117px;
    font-weight: 500;
  
    font-size: 14px;
    white-space: nowrap; 
    overflow: hidden;
   text-overflow: ellipsis;
}
.trending-list{
    padding-bottom: 40px;
}

/* .react-multi-carousel-item {
    width: 140px!important;
} */

@media screen and (max-width: 979px) {
    .card img{
        width: 117px;
        height: 117px;
        border-radius: 5px;
    }


    .react-multiple-carousel__arrow {
        display: none;
    }
    .react-multi-carousel-track {
        width: 100%;
    
    }
    .react-multi-carousel-list{
        width: 100%;
       
    }

    .card{    
        width: 147px!important;     
        text-align: center!important;
        padding-left: 20px;
        padding-right: 20px;
    }
    .card img{
        width: 147px!important;
        height: 147px!important;
        
    }
    .corrosal-card{
        width: 100%;
   
    }
    .card h4,.card p{
        width: 147px!important;
    }

}

@media screen and (max-width: 319px) {
    .card img{
        width: 117px;
        height: 117px;
        border-radius: 5px;
    }
    .react-multiple-carousel__arrow {
        display: none;
    }
    .react-multi-carousel-track {
        width: 100%;
    
    }
    .react-multi-carousel-list{
        width: 100%;
       
    }

    .card{    
        width: 117px!important;     
        text-align: center!important;
        padding-left: 20px;
        padding-right: 20px;
    }
    .card img{
        width: 117px!important;
        height: 117px!important;
        
    }
    .corrosal-card{
        width: 100%;
   
    }
    .card h4,.card p{
        width: 117px!important;
    }

}