.login-container{
    height: 100vh;
    width: 100%;
    display: flex;
   
}
.left-container{
    height: 100%;
    width: 48%;
    padding-right: 10px;
    background-color: #3f424c;
    position: relative;
}
.right-container{
    
    height: 100%;
    width: 52%;
    position: relative;
    
}
.lo-logo{
    height: 65px;
    width: 160px;  
    
}
.avatar{
    height: 415px;
    width: 385px;
    
}
.avatar-container{
    position: absolute;
    left: 23%;
    top: 7%;
    text-align: center;
}
.avatar-text{
    font-size: 34px;
    color: white;
    margin-top: 10px;
}
.avatar-text-secondary{
    color: #74798c;
    font-size: 24px;
}
.account{
    margin-left: 49%;
    color: #3f424c;
    font-size: 13px;  
    padding: 22px;
    display: flex;
}
.account button{
    padding: 6px 22px;
    font-size: 14px;
    border-radius: 99px;
    border: 1px solid #2a2d36;
    margin-left: 10px;
}
.login-form{
   position: absolute;
    height: 90%;
    width: 70%;
    top: 15%;
    left: 13%;
    text-align: center;
    
}
.loginpara{
    margin-bottom: 30px;
}
.errorBox{
    width: 67%;
    background-color: red;
    color: white!important;
    margin-bottom:10px ;
    border-radius: 99px;
    margin-left: 60px;
    padding: 10px 22px;
    font-size: small;
}
.login-form .loginput{
    padding: 16px 22px;
    width: 67%;
    margin-bottom: 15px;
    border-radius: 99px;
    border: 1px solid rgb(216, 210, 210);
    text-align: center;
    font-size:medium;
}
.login-form .loginput::placeholder{
    text-align: center;
    font-family: sans-serif;
    color: black;
    font-size: 16px;
}
.submit-btn{
    width: 75%;
    padding: 16px 22px;
    border-radius: 99px;
    font-size: 16px;
    background-color: #2bc5b4;
    border: 1px solid #2bc5b4;
    font-weight: 700;
    color: white;
}
.capta-container{
   margin-left: 19%;
    width:62%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    border: 0.5px solid #b7b8bb;  
    border-radius: 3px;
    margin-bottom: 15px;
   
}
.changepassword{
    margin: 10px;
    color: #3d5798;
}
.input-l{
   margin-top: 22px;
   margin-right: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
}

.input-r img{
    height: 32px;
    width: 32px;
}
.input-r{
    margin-top: 5px;
}

.checkbox{
  top: 50px;
  margin-right: 10px;
    width: 24px;
    height: 24px;
}
.recaptcha{
    cursor: default;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}
.recaptcha span{
    font-size: 8px;
}
.em{
   
    width: 70%;
    font-size: 13px;
    margin-left: 15%;
    text-align: start;
    font-style: italic;
    letter-spacing: -0.5px;
}
.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
    &:before {
      content: '';
      background: linear-gradient(to right, transparent, #818078, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
    }
    &:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      color: black;
      padding: 0 .5em;
      font-size: 13px;
      font-weight: 500;
      line-height: 1.5em;
      color: #63625c;
      background-color: #fcfcfa;
    }
}
.social{
    padding: 16px 22px;
    width: 35%;
    border-radius: 99px;
    font-size: 15px;
    font-weight: 700;
    color: white; 
    margin-left: 10px;
}
.mobile{
    background-color: #2a2d36;
    border: none;
 
}
.facebook{
    background-color: #3d5798;
    border:none;
}
.jio-logo-log{
    display: none;
    width: 150px;
    position: absolute;
    top: 0;
   left: 50%;
}
/* @media  screen and (max-width: 979px) {
    .left-container{
        display: none;
      }
      .right-container{
        width: 100%;
      }
      .jio-logo-log{
        display: block;
        width: 150px;
        position: absolute;
        top: 0;
       left: 0;
      
      }
      .login-form{
         width: 60%; 
        left: 22%;
     }
     .login-form h1{
        font-size: 1.6rem;
     }
    
    .capta-container {
        margin-left: 14%;
        width: 71%;
    }
    .account-toggle-text{
        display: none;
    }
    .account {
      right: 0;
      margin-left: 80%;

    }
} */
@media  screen and (max-width: 979px) {
  .left-container{
    display: none;
  }
  .right-container{
    width: 100%;
  }
  .jio-logo-log{
    display: block;
    width: 130px;
    position: absolute;
    top: 0;
   left: 0;
  
  }
  .login-form{
     width: 96%; 
     left: 0;  
 }
 .login-form h1{
    font-size: 1.6rem;
 }

.capta-container {
    margin-left: 14%;
    width: 72%;
}
.account-toggle-text{
    display: none;
}
.account{
    margin-left: 65%;
    
    color: #3f424c;
    font-size: 13px;  
    padding: 22px;
    display: flex;
}
}
