body{
    background-color: #f6f6f6;
    color: #3e3e3e;
   
}
.maincontent{
    width: 100%;
    height: 500px;
    margin-top: 100px;
    
    background-color: #f6f6f6;
}
.sidebar{
    position: fixed;
    width: 16%;
    padding-top: 10px; 
    height: 420px;
    overflow-y: scroll;
}
.browse-item{
    list-style-type: none;
    margin-left: 5px;
    
}

.brws{
    margin-bottom: 25px;
    margin-left: 44px;
    font-weight: 500;
    color: #828da8;
    font-size: .8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.browse-item li{
    margin-bottom: 13px;
    color: #3e3e3e;
    font-weight: 500;
    font-size: 15px;
}

.lib{
    margin-bottom: 25px;
    margin-left: 44px;
    margin-top: 35px;
    font-weight: 500;
    color: #828da8;
    font-size: .8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.library-item div{
    
    margin-bottom: 13px;
    color: #3e3e3e;
    font-size: 1.3em;
    font-weight: 500;
    display: flex;
    justify-content: center;
}
.library-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 44px;
    
}
.library-item span{
    font-size: 15px;
    margin-left: 7px;
    
}

.main-page{
    width: 80%;
    margin-left: 18%;
    
}
.main-page div{
    margin-bottom: 10px;
}
.playlist-btn{
    border: 1px solid #2bc5b4;
    color: #2bc5b4;
    font-size: 14px;
    font-size: .9rem;
    line-height: 1.4;
    font-weight: 700;
    padding: 10px 22px;
    margin-left: 44px;
    border-radius: 20px;
    margin-top: 20px;
}
.trending{
    color: #3e3e3e;
    font-size: 20px;
    margin-left: 15px;
    
}

/* .movie-list{
    width: 100%;
    height: 200px;
    display: flex;
   
} */
