.live_music{
    width: 98%;
    height: 78px;
    display: flex;
    position: fixed;
    bottom: 0;
    border-top: 4px solid #e6e4e4;
    background-color: #f6f6f6;
    justify-content: space-between;
    z-index: 1000;
}
.leftb{
    width: 20%;
    display: flex;
    align-items: center;
    height: 100%;
}
.midb{
    width: 20%;
    display: flex;
    align-items: center;
    height: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1.9em;
    margin-left: 1%;
}
.rightb{
    width: 20%;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-around;
    font-size: 1.5em;
}

.rightb p{
    font-size: 15px;
}
.leftb img{
    border-radius: 5px;
    margin-left: 13px;
    margin-right: 5px;
}
.describe{
    font-size: 13px;
    font-weight: 450;
}
.leftb p{
    font-size: 15px;
    font-weight: 700;
}
