.leftnav img{
    height: 34px;
    width: 120px;
    margin: 15px 15px 10px 10px;
  
  }
  .sidenav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #f6f6f6;
    
  }
  .navbar{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 63px;
    border-bottom: 0.5px solid rgb(224, 224, 224);
    
  }
  .leftnav{
    width: 26%;
    display: flex;
    align-items: start;
    justify-content: center;
    
  }
  #mus-pod{
    display: flex;
    margin: 0;
  }
  .rightnav{
    width: 27%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .midnav input{
    outline: none;
    border: none;
    width: 100%;
    height: 40px;
    padding-inline:1rem ;
  }
  .midnav{
   
    height: 40px;
    width: 540px;
    border-radius: 99px;
    overflow: hidden;
    margin-top: 11px;
    margin-right: 5px;
    
   border: 0.5px solid rgb(221, 220, 220);
    
  
  }
  .rightnav div{
    
    margin: 0px 15px 0px 10px;
    font-weight: 500;
  }
  .leftnav div{
    margin:20px 8px 10px 8px;
    font-weight: 500;
    letter-spacing: normal;
    
    font-size: 1rem;
  }
  .searchbar::placeholder{
    text-align: center;
    color: black;
  }
  .login-btn,.signup-btn,.gopro{
    cursor: pointer;
    color: #3e3e3e;
  }

  @media screen and (max-width: 600px) {
    .midnav, .login-btn, .signup-btn, .gopro{
      display: none;
    }
    .leftnav{
    
      display: block;
    }
    .navbar{
      width: 100vw;
      border: none;
      height: 12vh;
    }
    .sidenav{    
      width: 100vw;
      position: relative;
    }
    .leftnav div{    
      font-size: 1.1rem;
      margin:15px 8px 10px 15px;
    }
  }