.d-image img{
    width: 250px;
    height: 250px;
}
.d-image{
    margin-left: 20px;
    margin-right: 20px;
}
.details-section-top{
    display: flex;
    margin-bottom:25px ;
}
.d-description{
    margin-left: 25px;
    margin-top: 25px;
    
}
.d-description h1{
    margin-bottom: 10px;
}
.d-description-top p{
    margin-bottom: 7px;
}
.d-description-top{
    margin-bottom: 20px;
}
.d-btn-section{
    display: flex;
    margin-top: 20px;
}
.d-play-btn{
    padding: 11px 44px ;
    background-color: #2bc5b4;;
    border-radius: 99px;
    font-size: 1.3em;
    font-weight: 500;
    color: #fff;
}
.d-favicon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ccc;
    font-size: 2em;
    color: #575656;
    text-align: center;
    
}
.d-moreicon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ccc;
    font-size: 2em;
    color: #575656;
    text-align: center;
}
.d-btn-section div{
    margin-right: 10px;
}
#d-fav{
    margin-top: 8px;
}
#d-more{
    margin-top: 8px;
}
.d-b-icons{
    display: flex;
    margin-right: 100px;
}
.d-b-icons div{
    margin-left: 35px;
}
.d-b-des{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-left: 44px;
}
.d-songcard{
    display: flex;
    justify-content: space-between;
    
}
.details-section-buttom{
    margin-top: 80px;
}
.details-section{
    width: 80%;
    margin-left: 18%;
    padding-top: 100px;
}