.topcategories-section{
    margin-left: 18%;
    width: 80%;
    
}
.topcategories-detailsection{
    padding-left: 30px;
}
.cat-bar{
    width: 90%;
    margin-left: 30px;
    border-top: 1px solid #e6e5e5;
}