body{
    /* background-color: #f6f6f6; */
    color: #3e3e3e;
   
}


.trending{
    color: #3e3e3e;
    font-size: 20px;
    
    
}
.main-page{    
      
    width: 75%;
    margin-left: 18%;
    margin-right: 5%;
    padding-top: 40px;
      
}

@media only screen and (max-width: 600px) {
    .main-page{        
        width: 95%;
        
        margin-right: 3%; 
        padding-top: 5px;  
        margin-left: 2%;   
    }
    .trending{
        margin-left: 5%
        
    }
}
@media screen and (max-width: 980px) {
    .main-page{        
        width: 95%;       
        margin-right: 3%; 
        padding-top: 5px;  
        margin-left: 2%;   
    }
    .trending{
        margin-left: 5%
        
    }
}
