body{
    /* background-color: #f6f6f6; */
    color: #3e3e3e;
   
}


.trending{
    color: #3e3e3e;
    font-size: 20px;
    margin-left: 15px;
    
}
.main-page{    
      
    width: 80%;
    margin-left: 18%;
    padding-top: 40px;
      
}

@media only screen and (max-width: 600px) {
    .main-page{        
        width: 100%;
        margin-left: 0;    
        padding-top: 100px;     
    }
}